{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe | Virt VA{% endblock %}

{% block body %}
    <div class="container account mt-5 mb-5">
        <h1>Modifier mon mot de passe</h1>

        <hr>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        {{ form(form) }}
        <hr>
        <ul>
        <li><a href="{{ path('account') }}">Retourner sur mon compte</a></li>
        
        <hr>
        FORM
        <hr>
        

    </div>
{% endblock %}
