{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block body %}

    <div class="container registration mt-5 mb-5">
        <div class="row">
            <h1>Inscription</h1>

            {{ form(form) }}
            
        </div>
    </div>

{% endblock %}
